html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strong,
sub,
sup,
var,
b,
u,
i,
ol,
ul,
article,
canvas,
embed,
figure,
figcaption,
footer,
header,
hgroup,
nav,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: snow;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

p {
  margin-bottom: 10px;
}

h1 {
  font-size: 3em;
  color: #ee4266;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

h3 {
  margin-bottom: 12px;
  font-size: 1.2em;
}

h4 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #ee4266;
}

header {
  position: relative;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 30px;
}

header li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

header li a {
  color: inherit;
}

header ul,
nav {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  width: 70%;
  max-width: 45em;
  min-width: 400px;
  /* min-height: 400px; */

  margin: 0 auto;
  padding: 20px 40px 0 40px;

  overflow: hidden;
}

.squiggle {
  letter-spacing: -14px;
  font-size: 50px;
  color: #ee4266;
  margin-left: -60px;
  margin-right: -60px;
}

.post {
  margin: 2em 0 2em 0;
}

code,
pre {
  font-family: Monaco, Lucida Console, Courier New, monospace;
  color: #333;
  font-size: 14px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
  white-space: pre-wrap;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}
